<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Project MARS</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>

<ul class="p-3 nav nav-pills bg-light">
  <li class="p-3 nav-item ">
    <a class="nav-link bg-danger text-white active" href="/">Project MARS</a>
  </li>
  <li class=" p-3 nav-item">
    <a class="nav-link bg-white text-danger" id="profile-tab" data-toggle="tab" href="/viagem" role="tab" aria-controls="profile" aria-selected="false">Travels</a>
  </li>
  <li class="p-3 nav-item">
    <a class="nav-link bg-white text-danger" id="contact-tab" data-toggle="tab" href="/viagem/create" role="tab" aria-controls="contact" aria-selected="false">Book a Spaceship</a>
  </li>
</ul>
	<p class=" lead m-3 text-justify" >A empresa "Tourism on Mars Company" tem como objetivo desenvolver viagens turísticas para Marte, oferecendo aos seus clientes a oportunidade de visitar o planeta vermelho e explorar seus recursos naturais, belezas naturais e científicas.

O projeto da empresa envolveria o desenvolvimento de uma nave espacial projetada para levar turistas de forma segura e confortável a Marte. A nave seria equipada com tecnologia avançada de propulsão, sistemas de suporte à vida e equipamentos de entretenimento e comunicação para garantir a segurança e o bem-estar dos turistas durante a viagem.

Ao chegar em Marte, os turistas teriam a oportunidade de explorar a superfície do planeta, visitar locais de interesse geológico e científico, bem como participar de atividades ao ar livre, como caminhadas, escaladas e até mesmo viagens de bicicleta ou buggy em terrenos rochosos.

Além disso, a empresa "Tourism on Mars Company" também planeja estabelecer acampamentos e habitats em Marte, oferecendo a seus turistas a oportunidade de passar mais tempo no planeta, participar de pesquisas científicas e contribuir para o desenvolvimento de uma colônia humana permanente em Marte.

Naturalmente, a empresa enfrentaria enormes desafios para tornar essa visão em realidade, incluindo a necessidade de superar desafios tecnológicos, financeiros e regulatórios, além de garantir a segurança e o bem-estar de seus turistas durante a viagem e estada em Marte.</p>
</body>

</html>